@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --background: 212 100% 92%;
  --foreground: 0 0% 0%;
  --card: 211 96% 90%;
  --card-foreground: 0 0% 0%;
  --popover: 240 10% 96.1%;
  --popover-foreground: 0 0% 2%;
  --primary: 219 100% 19%;
  --primary-foreground: 0 0% 80%;
  --secondary: 240 3.7% 84.1%;
  --secondary-foreground: 0 0% 2%;
  --muted: 240 3.7% 84.1%;
  --muted-foreground: 240 5% 35.1%;
  --accent: 240 3.7% 84.1%;
  --accent-foreground: 0 0% 2%;
  --destructive: 0 100% 19%;
  --destructive-foreground: 0 0% 2%;
  --border: 212 100% 92%;
  --input: 240 3.7% 84.1%;
  --ring: 240 4.9% 16.1%;
}

.dark:root {
  --background: 212 100% 8%;
  --foreground: 0 0% 100%;
  --card: 211 96% 10%;
  --card-foreground: 211 96% 10%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 219 100% 81%;
  --primary-foreground: 0 0% 20%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 100% 81%;
  --destructive-foreground: 0 0% 98%;
  --border: 212 100% 8%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}
}